.video-card {
    width: 70%;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #ccc;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments-section {
    width: 70%;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.comments-section h2 {
    margin-bottom: 10px;
}

.comments-section form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.comments-section form textarea {
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.comments-section form button[type="submit"] {
    border: none;
    border-radius: 5px;
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, sans-serif;
    transition: background-color 0.2s ease-in-out;
}

.comments-section form button[type="submit"]:hover {
    background-color: #3367d6;
}

.comment {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.comment h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.comment p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}